@inherits AdminCompontentBase
@page "/channels/channelManagement"

<PageTitle>@T("Permission.ChannelManagement")</PageTitle>
<AutoHeight Overflow>
    <HeaderContent>
        <div class="search-panel mb-6">
            <div class="d-flex search-panel-right full-width">
                <DefaultTitle>@T("DisplayName.Channel")</DefaultTitle>
                <MSpacer></MSpacer>
                <SSearch @bind-Value="_queryParam.Filter" BackgroundColor="#fff" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
                <SButton Small BorderRadiusClass="rounded-lg" Class="ml-6" OnClick="()=> _createModal.OpenModalAsync()">@T("Permission.Create")</SButton>
            </div>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        @if (_entities.Result.Any())
        {
            <div class="grid-card">
                @foreach (var _entitie in _entities.Result)
                {
                    <div class="item">
                        <ChannelCard Channel="_entitie" OnEditClick="async()=>await _editModal.OpenModalAsync(_entitie)" />
                    </div>
                }
            </div>
        }
        else
        {
            <SEmptyPlaceholder />
        } 
    </AutoHeightContent>
</AutoHeight>

<ChannelEditModal @ref="_editModal" OnOk="HandleOk" />
<ChannelCreateModal @ref="_createModal" OnOk="HandleOk" />