@inherits AdminCompontentBase
@page "/channels/channelManagement"

<PageTitle>@T("Permission.ChannelManagement")</PageTitle>
<MRow Class="ma-0">
    <DefaultSearch @bind-Value="_queryParam.Filter" Clearable Class="rounded-2 search" Placeholder="@T("Search")" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
    <MButton Color="primary" Class="ml-6 rounded-lg btn" OnClick="()=> _createModal.OpenModalAsync()">
        <span>@T("Permission.CreateChannel")</span>
    </MButton>
</MRow>

<MRow>
    @foreach (var _entitie in _entities.Result)
    {
        <MCol Md="3">
            <ChannelCard Height="375" Channel="_entitie" OnEditClick="async()=>await _editModal.OpenModalAsync(_entitie)" />
        </MCol>
    }
</MRow>

<ChannelEditModal @ref="_editModal" OnOk="HandleOk" />
<ChannelCreateModal @ref="_createModal" OnOk="HandleOk" />

