<div class="@($"d-inline-flex rounded-r-4 fill--text ml-n6 body2 text-truncate py-2 px-4 {Color} {Class}")" style="@($"max-width: 160px;")">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Color { get; set; } = default!;

    [Parameter]
    public string Class { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrEmpty(Color))
        {
            Color = "emphasis2";
        }
    }
}
