<div class="@($"d-inline-flex rounded-r-xl fill--text ml-n6 caption text-truncate {Color} {Class}")" style="@($"padding: 2px 16px;height:{Height}px;max-width: 160px;")">@ChildContent</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public StringNumber Height { get; set; } = 22;

    [Parameter]
    public string Color { get; set; } = default!;

    [Parameter]
    public string Class { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrEmpty(Color))
        {
            Color = "emphasis2";
        }
    }
}
