<div class="m-input m-input--hide-details m-input--is-label-active m-input--is-dirty theme--light m-text-field m-text-field--is-booted m-text-field--enclosed m-text-field--outlined m-textarea">
    <div class="m-input__control">
        <div class="m-input__slot d-block">
            <fieldset><legend style="width:48px"><span>&ZeroWidthSpace;</span></legend></fieldset>
            <div class="m-text-field__slot">
                <label class="m-label m-label--active theme--light" style="left:0px;right:auto;position:absolute" >@Label</label>
                <div class="content body2 regular--text overflow-y py-3 px-0" style="height:@(Height)px">
                    @((MarkupString)Value)
                </div>
            </div>
           
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public int Height { get; set; } = 128;
}
