.detail-box {
    background: #F0F3FA;
    border-radius: 4px;
}
    .detail-box .content {
        position: relative;
        color: #333;
        font-size: 15px;
    }
        .detail-box .content ::deep img {
            max-width: 100%;
        }
