<div class="detail-box pa-4 overflow-auto" style="max-height:@(Height)px"><div class="content font-14 neutral-text-regular-secondary">@((MarkupString)Value)</div></div>

@code {
    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public int Height { get; set; } = 300;
}
