@inherits AdminCompontentBase
<MCard Class="d-flex flex-column" Outlined MinHeight=Height>
    <MCardTitle class="pb-1 px-0 pt-1">
        <MListItem>
            <MListItemContent class="pb-0">
                <MListItemSubtitle class="text-h7 neutral-lighten-1--text">@Channel.DisplayName</MListItemSubtitle>
                <MListItemTitle class="d-flex justify-space-between align-center">
                    <span class="text-body2 neutral-lighten-4--text">@Channel.Code</span>
                    <MIcon Size=20 OnClick="HandleEditClick">mdi-pencil</MIcon>
                </MListItemTitle>
            </MListItemContent>
        </MListItem>
    </MCardTitle>
    <MCardText class="flex-grow-1" style="text-align: justified;">
       <span class="text-body3">@Channel.Description</span>
    </MCardText>
    <MCardActions class="px-4 pb-4">
        <MChip> @T(Channel.Type.ToString()) </MChip>
         <MSpacer/>
         <span class="text-body2 neutral-lighten-4--text">吴自浩 编辑于 1小时前 </span>
    </MCardActions>
</MCard>

@code {
    [Parameter]
    public EventCallback OnEditClick { get; set; }

    [Parameter]
    public int Height { get; set; } = 230;

    [EditorRequired]
    [Parameter]
    public ChannelDto Channel { get; set; } = null!;

    private async Task HandleEditClick()
    {
        if (OnEditClick.HasDelegate)
        {
            await OnEditClick.InvokeAsync();
        }
    }
}