@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase
@inject GlobalConfig GlobalConfig
@inject IPopupService PopupService
@inject I18n I18n
@implements IDisposable

<MApp Class="masa" ConfirmParameters="@(param => { param.OkText = I18n.T("Ok");param.CancelText = I18n.T("Cancel"); })">
    <MAppBar Elevation=0 App MaxHeight=60 Class="mx-6 rounded-b-4 white">
        <Favorite />
        <MSpacer />
        <Search />
        <MIcon Size=20 Class="ml-5" Color="neutral-lighten-3">mdi-message-processing-outline</MIcon>
        <Language />
        <HeaderRight />
    </MAppBar>

    <Navigation />

    <MMain Class="fill-lighten-1" Style="padding-top:60px">
        <MErrorHandler OnErrorHandleAsync="CustomErrorHandleAsync">
            <div class="pa-6 max-width full-height">
                @Body
            </div>
        </MErrorHandler>
        <MLoading />
        <MConfirmDialog />
    </MMain>
</MApp>

@code {
    protected override void OnInitialized()
    {
        GlobalConfig.OnPageModeChanged += base.StateHasChanged;
    }

    private async Task CustomErrorHandleAsync(Exception exception)
    {
        GlobalConfig.Loading = false;
        await PopupService.ToastAsync(alert =>
        {
            alert.Type = AlertTypes.Error;
            alert.Title = "Something wrong!";
            alert.Content = exception.Message;
        });
    }

    public void Dispose()
    {
        GlobalConfig.OnPageModeChanged -= base.StateHasChanged;
    }
}