@inject GlobalConfig GlobalConfig

<MApp Class="masa masa-stack-components">
    <MAppBar App
             Class="mx-6"
             Elevation="0"
             Height="96">
        <GlobalNavigation>
            <ActivatorContent>
                <MButton Icon Class="white mr-6 emphasis2--text" @attributes="@context.Attrs">
                    <MIcon>mdi-view-dashboard</MIcon>
                </MButton>
            </ActivatorContent>
        </GlobalNavigation>
        <SearchMenu />
        <MSpacer />
        <Favorites FlattenedNavs="FlattenedNavs" />
        <Languages />
        <div style="height: 48px">
            <MDivider Vertical />
        </div>
        <MSheet class="d-flex align-center justify-space-between rounded-6 pa-1 ml-6 mr-n3" Width="100">
            <Notice />
            <User />
        </MSheet>
    </MAppBar>

    <Navigation Items="NavItems"
                Logo="@Logo"
                MiniLogo="@MiniLogo" />

    <MMain>
        <MErrorHandler OnErrorHandleAsync="CustomErrorHandleAsync">
            <div class="px-6 max-width full-height">
                @ChildContent
            </div>
        </MErrorHandler>
    </MMain>
</MApp>
