.status-select ::deep .m-select__selection {
    width: 100%;
    text-align: center;
}

.status-select ::deep input::-ms-input-placeholder {
    width: 100%;
    text-align: center;
}

.status-select ::deep input::-webkit-input-placeholder {
    width: 100%;
    text-align: center;
}

.status-select ::deep label {
    width: 100%;
    text-align: center;
}

.status-select ::deep .m-label--active {
    text-align: left !important;
}

.task-detail-left {
    width: 428px;
}

.task-detail-right {
    padding: 48px 114px;
    width: calc(100% - 428px);
}

.task-history-box {
    margin-left: -104px;
}

    .task-history-box ::deep .m-timeline-item__dot {
        box-shadow: none;
    }

    .task-history-box ::deep .btn {
        font-weight: 550 !important;
    }

    .task-history-box ::deep .caption {
        font-weight: 500 !important;
    }

    .task-history-box ::deep .m-timeline-item__dot {
        background: transparent !important;
    }

    .task-history-box ::deep .m-timeline-item__inner-dot {
        background-color: transparent !important;
    }

    .task-history-box ::deep .m-icon {
        background: #ffff !important;
    }
