.status-select ::deep .m-select__selection {
    width: 100%;
    text-align: center;
}
.status-select ::deep input::-ms-input-placeholder {
    width: 100%;
    text-align: center;
}
.status-select ::deep input::-webkit-input-placeholder {
    width: 100%;
    text-align: center;
}
.status-select ::deep label {
    width: 100%;
    text-align: center;
}

.task-detail-left {
    width: 428px;
}
.task-detail-right {
    padding: 72px 114px;
    width: calc(100% - 428px);
}

.task-history-box {
    margin-left: -66px;
}
.task-history-box ::deep .m-timeline-item__dot {
    box-shadow: none;
}
