@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission:CreateChannel")" ContentStyle="padding-right:228px;padding-left:228px;">
        <MForm Model="_model" @ref="_form" EnableValidation>
           
        </MForm>
    </SheetDialog>
</div>