@inherits AdminCompontentBase
@if (Count>0)
{
    <span class="overline regular3--text mt-2">@(string.Format(T("ReceiversCount"),Count))</span>
}

@code {
    [Parameter]
    public List<MessageTaskReceiverDto> Value { get; set; } = new();

    MessageTaskService MessageTaskService => McCaller.MessageTaskService;

    private long Count { get; set; }

    protected override async void OnParametersSet()
    {
        Count = await MessageTaskService.ResolveReceiversCountAsync(Value);
        StateHasChanged();
    }
}
