@inherits AdminCompontentBase
<div @ref="Ref">
    <PModal @bind-Value="_visible"
            Persistent
            Title="@T("Permission.TestMessageTask")"
            HideCancelAction
            Width="684"
            FormModel="_input"
            OnSave="HandleOkAsync"
            OnCancel="HandleCancel">
        <ChildContent>
            <Masa.Mc.Web.Admin.Components.Modules.Subjects.UserAutoComplete @ref="_userRef" Value="_userIds" ValueChanged="HandleUserChange"></Masa.Mc.Web.Admin.Components.Modules.Subjects.UserAutoComplete>
            <MInput @bind-Value="_input.Receivers" />
        </ChildContent>
        <SaveContent Context="save">
            <MButton Width=100 Class="rounded-pill" Color="primary" Style="float:right;" OnClick="save.Click">@(T("Send"))</MButton>
        </SaveContent>
    </PModal>
</div>
