@inherits AdminCompontentBase
<div @ref="Ref">
    <PModal @bind-Value="_visible"
            Persistent
            Title="@T("Permission.TestMessageTask")"
            HideCancelAction
            Width="398"
            FormModel="_input"
            HideTitleDivider
            HideActionsDivider
            HeaderClass="h6 emphasis2--text pa-6 pb-0"
            ActionsClass="pa-6 pt-0"
            OnSave="HandleOkAsync"
            OnCancel="HandleCancel">
        <ChildContent>
            <Masa.Mc.Web.Admin.Components.Modules.Subjects.UserAutoComplete @ref="_userRef" Value="_userIds" ValueChanged="HandleUserChange"></Masa.Mc.Web.Admin.Components.Modules.Subjects.UserAutoComplete>
            <MInput @bind-Value="_input.ReceiverUsers" />
        </ChildContent>
        <SaveContent Context="save">
            <SButton BorderRadiusClass="btn-form-rounded" OnClick="save.Click">@(T("SendTestMessage"))</SButton>
        </SaveContent>
    </PModal>
</div>
