@-webkit-keyframes searchOpen {
    0% {
        width: 428px;
    }

    100% {
        width: 100%;
    }
}

@keyframes searchOpen {
    0% {
        width: 428px;
    }

    100% {
        width: 100%;
    }
}

.animate__searchOpen {
    -webkit-animation-name: searchOpen;
    animation-name: searchOpen;
}

@-webkit-keyframes searchShrink {
    0% {
        width: 100%;
    }

    100% {
        width: 428px;
    }
}

@keyframes searchShrink {
    0% {
        width: 100%;
    }

    100% {
        width: 428px;
    }
}

.animate__searchShrink {
    -webkit-animation-name: searchShrink;
    animation-name: searchShrink;
}

::deep .page-select {
    border: none;
}
