@inherits AdminCompontentBase
@page "/messageTasks/sendMessage"
<MCard Class="full-height">
    <MCardText Class="full-height" Style="overflow-y:auto;">
        <MContainer Class="full-height pt-8">
            <MRow Align="AlignTypes.End" Justify="JustifyTypes.End">
                <MButton Rounded Outlined Color="indigo" Class="mr-6 medium-button" OnClick="_listModal.OpenModalAsync">
                    <span>@T("DisplayName.MessageTaskList")</span>
                </MButton>
            </MRow>
            <MRow Class="my-8 full-height" Align="AlignTypes.Center" Justify="JustifyTypes.Center">
                <MCol Cols="3" Class="full-height">
                    <MCard Outlined Class="d-flex full-height justify-center align-center" Style="border-style: dashed;">
                        <MButton Ripple=false Plain OnClick="_ordinaryCreateModal.OpenModalAsync"><MIcon Left>mdi-plus</MIcon>@T("DisplayName.MessageEntityType.Ordinary")</MButton>
                    </MCard>
                </MCol>
                <MCol Cols="3" Offset="1" Class="full-height">
                    <MCard Outlined Class="d-flex full-height justify-center align-center" Style="border-style: dashed;">
                        <MButton Ripple=false Plain OnClick="_templateCreateModal.OpenModalAsync"><MIcon Left>mdi-plus</MIcon>@T("DisplayName.MessageEntityType.Template")</MButton>
                    </MCard>
                </MCol>
            </MRow>
        </MContainer>
    </MCardText>
</MCard>
<OrdinaryMessageCreateModal @ref="_ordinaryCreateModal" />
<TemplateMessageCreateModal @ref="_templateCreateModal" />
<MessageTaskListModal @ref="_listModal" />
