@inherits AdminCompontentBase
@switch (Value)
{
    case MessageTemplateStatuses.Invalid:
        <span class="yellow-lighten yellow--text btn tag">@T("DisplayName.MessageTemplateStatus.Invalid")</span>
        break;
    case MessageTemplateStatuses.Normal:
        <span class="green-lighten green--text btn tag">@T("DisplayName.MessageTemplateStatus.Normal")</span>
        break;
}

@code {
    [Parameter]
    public MessageTemplateStatuses Value { get; set; }
}