@inherits AdminCompontentBase
@switch (Value)
{
    case MessageTemplateAuditStatuses.WaitAudit:
        <span class="yellow-lighten yellow--text btn tag">@T("WaitAudit")</span>
        break;
    case MessageTemplateAuditStatuses.Adopt:
        <span class="green-lighten green--text btn tag">@T("Adopt")</span>
        break;
    case MessageTemplateAuditStatuses.Fail:
        <span class="warning-lighten warning--text btn tag">@T("Fail")</span>
        break;
}

@code {
    [Parameter]
    public MessageTemplateAuditStatuses Value { get; set; }
}
