html {
    font-size: 16px;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #A3AED0;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #F0F3FA;
    border-radius: 6px;
}

.border-b-solid {
    /* 分割线/下 */
    box-shadow: inset 0px -1px 0px #F0F3FA !important;
}

.block-center {
    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
}

.block-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*组件样式全局修改start*/
.m-radio i {
    font-size: 21px !important;
}

.m-input__slot {
    margin-bottom: 0px !important;
}

.m-messages {
    min-height: 0px !important;
}

.m-navigation-drawer__border {
    width: 0
}

.m-card {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;
    border-radius: 20px !important;
}

    .m-card.line {
        border-radius: 10px !important;
    }

.m-card__text {
    padding: 16px 24px;
    height: 100%;
}

.m-input fieldset {
    border-radius: 10px !important;
    border: 1px solid #E9EDF7 !important;
    box-sizing: border-box !important;
}

.m-input .m-input__icon .mdi-menu-down {
    color: #A3AED0;
}

.m-input .m-label {
    /* BUTTON-按钮 */
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    /*    line-height: 1rem !important;*/
    /* default color */
    color: #7681AB;
}

.m-input--checkbox .mdi-checkbox-blank-outline {
    color: #A3AED0 !important;
    caret-color: #A3AED0 !important;
}

.theme--light .m-input--is-disabled .mdi-checkbox-blank-outline {
    color: #E9EDF7 !important;
    caret-color: #E9EDF7 !important;
}

.theme--light .m-input--is-disabled .mdi-checkbox-marked {
    color: #E9EDF7 !important;
    caret-color: #E9EDF7 !important;
}

.m-input--checkbox .m-input--selection-controls__ripple:before {
    content: none;
}

.m-input--selection-controls__input:hover .mdi-checkbox-blank-outline {
    color: #4318FF !important;
    caret-color: #4318FF !important;
}

.m-radio .mdi-radiobox-blank {
    color: #A3AED0 !important;
    caret-color: #A3AED0 !important;
}


.table-header-fill .m-data-table-header tr {
    background: #F6F8FD;
}

.table-border-none td, th {
    border-bottom: 0px !important;
    box-shadow: none;
}

.table-border-solid td, th {
    border-bottom: 0 !important;
    box-shadow: none;
}

.primaryText .primaryText {
    color: #4318FF !important;
    caret-color: #4318FF !important;
}

.m-pagination__navigation, .m-pagination__item {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;
}

.m-btn--is-elevated {
    box-shadow: none !important;
}

.m-menu__content {
    border: 0.5px solid #E9EDF7;
    box-sizing: border-box;
    border-radius: 10px !important;
    box-shadow: 0 18px 40px 0 rgb(112 144 176 / 12%) !important;
}

.hide-shadow {
    box-shadow: none !important;
    border: none;
}

/* pagetabs */

.m-page-tabs .m-slide-group__prev.m-slide-group__prev--disabled {
    flex: none !important;
    min-width: 0px !important;
}

/* pagetabs */
/*组件样式全局修改end*/
/*shop*/
.ml300 {
    margin-left: 300px;
}

.commodity:hover {
    height: calc(100% + 10px);
}

    .commodity:hover .content {
        transition-property: margin-top;
        transition-duration: 0.5s;
        box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12) !important;
        margin-top: -4px;
    }

.order:hover {
    background-color: #6946FF !important;
}

    .order:hover .white-order {
        color: #FFFFFF !important;
        caret-color: #FFFFFF !important;
    }

.favorite:hover {
    background: #F6F8FD !important;
}
/*shop*/

.coupons.m-text-field > .m-input__control > .m-input__slot:before {
    border-color: transparent;
    border-style: hidden;
}

.coupons.m-text-field > .m-input__control > .m-input__slot:after {
    border-color: transparent;
    border-style: hidden;
}

.coupons .m-input__control .m-text-field__slot input::-webkit-input-placeholder {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    line-height: 1.1875rem !important;
    letter-spacing: 0.009375rem !important;
    color: #323D6F !important;
}

.m-text-field.m-input--dense:not(.m-text-field--outlined) .m-text-field__prefix, .m-text-field.m-input--dense:not(.m-text-field--outlined) .m-text-field__suffix, .m-text-field.m-input--dense:not(.m-text-field--outlined) input {
    padding-top: 0;
}

.max-height {
    height: 100% !important;
}

.max-width {
    width: 100% !important;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.hide {
    display: none;
}

.border-right-solid {
    border-right: 1px solid #ebe9f1;
}

.border-left-solid {
    border-left: 1px solid #ebe9f1;
}

.congratulation-medal {
    position: absolute;
    top: 0;
    right: 37px;
}

.a {
    color: #7367f0 !important;
    text-decoration: none;
}

.border-top-solid {
    border-top: 1px solid #d8d6de;
}

.border-solid {
    border: 1px solid #d8d6de;
}

.card-text {
    line-height: 1.5rem;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pro-nav > .m-tabs-bar {
    background-color: transparent !important;
}

.pro-nav .m-tab:before {
    background-color: transparent;
}

.m-btn {
    text-transform: none !important;
}

.list-unstyled {
    list-style: none;
}

.vertical-center {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.linear-gradient-purple {
    background: linear-gradient(118deg,#7367f0,rgba(115,103,240,.7))
}

.grey-bg {
    background-color: #f8f8f8;
}

.hover-pointer {
    cursor: pointer;
}

.justify-text-align {
    text-align: justify !important;
}

.relate-group .m-icon {
    font-size: 40px;
}

.relate-group .m-slide-group__next {
    margin-left: 10px;
}

.pointer-events-none {
    pointer-events: none;
}

.font-14-medium .m-label {
    color: #323D6F;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.mtab-tab-linear-primary {
    background: linear-gradient(270deg, #4318FF 5.56%, rgba(67, 24, 255, 0) 100%);
}

.mtab-tab-linear-neutral {
    background: linear-gradient(270deg, #E9EDF7 0%, rgba(233, 237, 247, 0) 100%);
}

.mtab-tab-line {
    align-self: stretch;
    margin: 10px 0px;
    width: 87px;
    height: 6px;
    border-radius: 60px;
}

.mtab-tab-indicator {
    margin-top: 3px;
    margin-left: -1px;
    align-self: stretch;
    width: 22px;
    height: 22px;
}

.mtab-tab-indicator-primary {
    border: 4px solid #4318FF;
    box-sizing: border-box;
}

.mtab-tab-indicator-neutral {
    background: #F0F3FA;
    border: 4px solid #A3AED0;
    box-sizing: border-box;
}

.mtab-tab-title {
    position: absolute;
    top: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1B2559;
}

.auto-width {
    width: auto;
    margin: 0px 8px;
}

.hidden-webkit-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-webkit-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: scroll;
}

.neutral-lighten-1--text .m-label {
    color: #323D6F !important;
}

.neutral-lighten-4--text .m-label {
    color: #A3AED0 !important;
}

.theme--light.m-text-field--outlined.neutral-lighten-4--text > .m-input__control > .m-input__slot fieldset {
    color: #A3AED0 !important;
}

.task-search.m-text-field > .m-input__control > .m-input__slot:before, .m-text-field > .m-input__control > .m-input__slot:after {
    width: 0 !important;
}

.task-search.m-text-field > .m-input__control > .m-input__slot:before, .m-text-field > .m-input__control > .m-input__slot:after {
    width: 0 !important;
}

.hide-timeline-before.m-timeline:before {
    content: none;
}

.pro-timeline-before.m-timeline:before {
    background-color: #E9EDF7 !important;
}


.divider-align-start .m-timeline-item__divider {
    align-items: start;
    margin-top: 8px;
}

td.text-center .m-input--checkbox .m-input__slot {
    justify-content: center !important;
}

.m-divider {
    border-color: #E9EDF7 !important;
}

.m-application .elevation-6 {
    box-shadow: 0 18px 40px 0 rgb(112 144 176 / 12%) !important;
}

.task-datepicker {
    border-radius: 0px !important;
}

input::-webkit-input-placeholder {
    color: #7681AB !important;
    font-size: 12px !important;
}

.m-data-table-header__icon {
    position: absolute !important;
}

.user .m-data-table-header__icon {
    margin-top: 1px;
}

.neutral-lighten-icon .m-icon {
    color: #A3AED0 !important;
}

.m-timeline-flat .m-timeline-item__dot {
    box-shadow: none;
}

.chip-text {
    font-style: normal !important;
    font-weight: bold !important;
}

.m-application .remover-ripple a {
    color: #4318FF !important;
}

.remover-ripple .m-list-item:before {
    content: none !important;
}

.remover-ripple .m-ripple__container {
    opacity: 0 !important;
}

.remover-ripple .m-list-item:hover .m-list-item__title {
    color: #4318FF !important;
}

.remover-ripple-with-icon .m-list-item:hover .m-icon {
    color: inherit !important;
}

.cyan {
    background-color: #37A7FF !important;
}

.cyan--text {
    color: #37A7FF !important;
}

.cyan-light {
    background-color: #EBF6FF;
}

.theme--light.m-icon {
    color: #7681AB;
}

tr:hover {
    background-color: #F6F8FD !important;
}

.invoice-list-avatar {
    width: 32px;
    height: 32px;
    font-size: .857rem;
    font-weight: 600;
}

.pagetabs .m-item-group.m-slide-group.m-tabs-bar {
    margin-top: 4px;
}

.m-page-tabs .m-page_tab {
    background-color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    /* text/3-1次要 */
    color: #A3AED0 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.m-page_tab .m-icon {
    color: #A3AED0 !important;
    font-size: 16px !important;
}

.m-page_tab_active {
    background-color: #F0F3FA !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    /* text/1-1强调 */
    color: #1B2559 !important;
}

    .m-page_tab_active > .m-icon {
        color: #1B2559 !important;
    }

.m-page-tabs > .m-tabs-bar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    height: 36px;
    padding-left: 16px;
}

.m-page-tabs .m-tab:before {
    content: none !important;
}

.m-page-tabs .m-tab:hover {
    background-color: #F6F8FD;
    color: #485585 !important;
}

    .m-page-tabs .m-tab:hover > .m-icon {
        color: #485585 !important;
    }

.m-app-bar.rounded-b-4 > .m-toolbar__content {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.m-dialog--drawer .m-card {
    border-radius: 0;
}

/*mc*/
.rounded-2 {
    border-radius: 10px !important;
}

.rounded-4 {
    border-radius: 20px !important;
}

.button {
    min-width: 40px;
    min-height: 40px;
    border: 1px solid #F0F3FA;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.text-btn {
    /* BUTTON-按钮 */
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    /* default color */
    color: #A3AED0 !important;
}

.m-input.mx-auto .m-text-field__slot {
    padding-bottom: 2px;
}

    .m-input.mx-auto .m-text-field__slot input {
        text-align: center;
    }

.m-input.mx-auto .m-input__slot::before {
    border-color: #E2E7F4 !important;
}

.m-input.mx-auto .m-text-field__slot input::placeholder {
    text-align: center;
    color: #A3AED0 !important;
    font-family: Roboto !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    letter-spacing: 0em !important;
}

.m-data-table.table-space-v-4 > .m-data-table__wrapper > table {
    border-spacing: 0px 16px !important;
}

.m-data-table.table-space-v-2 > .m-data-table__wrapper > table {
    border-spacing: 0px 8px !important;
}

.justify-center.m-input--checkbox > .m-input__control {
    flex-grow: 0 !important;
    width: auto !important;
}

.elevation-tab {
    background-color: #F0F3FA !important;
    padding: 3px;
}

.m-item-group.elevation-tab .m-btn.m-btn--has-bg.m-btn--active {
    background-color: white !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    /* text/1-2强调 */

    color: #323D6F;
}

.elevation-tab .theme--light.m-btn--active:hover::before, .elevation-tab .theme--light.m-btn--active::before {
    opacity: 0;
}

.m-item-group.elevation-tab .m-btn.m-btn--has-bg {
    background-color: #F0F3FA !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    /* text/2-2正文 */

    color: #7681AB;
}

.remover-hover.m-list-item:hover::before {
    opacity: 0 !important;
}

.m-chip:not(.m-chip--active) {
    background: #f6f8fd !important;
}

.m-chip.theme--light.m-chip--select {
    background: #f6f8fd !important;
}

.max-full-height {
    max-height: 100% !important;
}

.m-stepper__content.full-height .m-stepper__wrapper {
    height: 100% !important;
}

.m-window.m-item-group.flex-grow-1 .m-window__container {
    height: 100% !important;
}

.full-height.d-flex.flex-column .m-data-table__wrapper {
    flex-grow: 1 !important;
}

.m-text-field.m-text-field--solo.elevation-0:not(.m-text-field--solo-flat) > .m-input__control > .m-input__slot {
    box-shadow: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.flex-height-auto {
    flex: auto;
}

.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.sheet-dialog {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-top: 24px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.m-stepper__content.full-height .m-stepper__wrapper {
    height: 100% !important;
}

.m-window.m-item-group.flex-grow-1 .m-window__container {
    height: 100% !important;
}

.full-height.d-flex.flex-column .m-data-table__wrapper {
    flex-grow: 1 !important;
}

.m-text-field.m-text-field--solo.elevation-0:not(.m-text-field--solo-flat) > .m-input__control > .m-input__slot {
    box-shadow: none;
}

.line-clamp-2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.fold {
    width: calc(100% - 550px);
    display: inline-block;
}

.fill-card {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.m-text-field.m-text-field--solo:not(.m-text-field--solo-flat) > .m-input__control > .m-input__slot {
    box-shadow: initial;
}

.m-data-table > .m-data-table__wrapper > table > thead > tr > th, .m-data-table > .m-data-table__wrapper > table > tbody > tr > td {
    padding: 0 24px !important;
}

.error--text {
    color: #FF5252 !important;
    caret-color: #FF5252 !important;
}

.btn-form {
    width: 140px !important;
    height: 56px !important;
    padding: 4px 58px !important;
    border-radius: 12px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.btn-form-full {
    width: 100% !important;
    height: 56px !important;
    padding: 4px 58px !important;
    border-radius: 12px !important;
}

.btn-form-rounded {
    height: 40px !important;
    padding: 8px 14px !important;
    border-radius: 99px !important;
}

/* fill/线 */
.btn-fill-line {
    border: 1px solid #E2E7F4 !important;
    border-radius: 8px !important;
}

/* 小按钮/主要/默认 */
.small-btn {
    min-width: 100px !important;
    height: 40px !important;
    padding: 4px !important;
}

.linear--text {
    color: #A18BFF !important;
}

.gradient--text {
    color: #4318FF !important;
}

.search-panel {
    height: 40px !important;
    position: relative !important;
}

.search-panel-right {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.rounded-5 {
    border-radius: 20px !important;
}

.m-input--dense-48 .m-input__append-inner {
    margin-top: 14px !important;
}

.m-application .overflow-x-visible {
    overflow-x: visible !important;
}

.m-application .overflow-y-visible {
    overflow-y: visible !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

.masa-stack-components .page-select {
    margin-top: 2px;
}

.page-content {
    height: calc(100% - 24px)
}

.masa .warning-disabled--text {
    color: #FBACA3 !important;
}

.m-alert__wrapper {
    width: 100%;
}

.m-input--selection-controls__ripple:before {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F6F8FD;
}

/*定义滚动条轨道

内阴影+圆角*/

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #F6F8FD;
}

/*定义滑块

内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A3AED0;
}

.m-text-field__details {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #A3AED0;
}

.m-stepper__wrapper {
    overflow: visible;
}

.m-dialog {
    border-radius: 20px !important;
}

    .m-dialog .m-sheet.m-card {
        border-radius: 20px !important;
    }

.vertical-divider {
    width: 0px;
    height: 8px;
    border: 1px solid #E2E7F4;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 8px;
    margin-right: 8px;
}